@import ./ @import
  url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Roboto+Slab:wght@200&display=swap");
* {
  box-sizing: border-box;
}

.header__navigation {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.header__h1-headline {
  font-family: "Bebas Neue";
  font-size: 600%;
  font-weight: lighter;
  color: white;
  text-shadow: 0px 5px 10px rgb(74, 74, 74);
  text-align: center;
  padding-bottom: 40px;
  box-sizing: content-box;
  height: 0;
}

.header__navigation__button {
  background-color: rgb(134, 134, 134);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  color: white;
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
}

body {
  background-color: rgb(86, 107, 88);
  margin: 0;
  padding: 0px 100px 0px 100px;
  font-family: "Roboto Slab";
  font-weight: bolder;
  color: white;
}

.profile-picture__h2-caption {
  background-color: rgb(134, 134, 134);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  border-radius: 10px;
  padding: 5px;
}

.biography-section {
  background-color: rgb(110, 138, 104);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  background: linear-gradient(
    to bottom right,
    rgb(110, 138, 104) 20%,
    rgb(86, 107, 88) 100%
  );
  stroke-width: 0;
  margin-top: 50px;
  height: auto;
  width: auto;
  border-radius: 0px 100px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cv-section {
  background-color: rgb(110, 138, 104);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  background: linear-gradient(
    to bottom right,
    rgb(110, 138, 104) 20%,
    rgb(86, 107, 88) 100%
  );
  stroke-width: 0;
  margin-top: 50px;
  height: auto;
  width: auto;
  border-radius: 0px 100px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.biography-and-cv-section__text {
  background-color: rgb(134, 166, 127);
  box-shadow: 0px 10px 10px rgb(74, 74, 74);
  border-radius: 0px 100px;
  padding: 10px;
  margin: 20px;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.contact-section {
  background-color: rgb(110, 138, 104);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  background: linear-gradient(
    to bottom right,
    rgb(110, 138, 104) 20%,
    rgb(86, 107, 88) 100%
  );
  stroke-width: 0;
  margin-top: 50px;
  height: auto;
  width: auto;
  border-radius: 0px 100px;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contact-section__text {
  background-color: rgb(134, 166, 127);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  border-radius: 0px 100px;
  padding: 40px;
  margin: 20px;
}

.address__button {
  background-color: rgb(86, 107, 88);
  border-radius: 10px;
  margin: 0px;
  padding: 15px;
  color: white;
  box-shadow: 0px 5px 10px rgb(74, 74, 74);
}

.contact-section__address--flex {
  display: flex;
  flex-wrap: wrap;
}

.social-media-section {
  background-color: rgb(110, 138, 104);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  background: linear-gradient(
    to bottom right,
    rgb(110, 138, 104) 20%,
    rgb(95, 117, 97) 100%
  );
  stroke-width: 0;
  margin-top: 50px;
  height: auto;
  width: auto;
  border-radius: 0px 100px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.socia-media-section__text {
  background-color: rgb(86, 107, 88);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  border-radius: 0px 100px;
  padding: 40px;
  margin: 20px;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section__header {
  background-color: rgb(134, 134, 134);
  box-shadow: 0px 5px 10px rgb(74, 74, 74);
  padding: 10px;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}

.profile-picture {
  padding: 50px;
  margin-top: -40px;
  margin-bottom: -25px;
  border-radius: 0px 175px;
}

figure {
  text-align: center;
}

.social-media-section__icons {
  padding: 10px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  border-radius: 25px 25px;
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
}

/* figcaption of social-media icons */
figcaption {
  background-color: rgb(118, 148, 112);
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
}

.footer__navigation__button {
  background-color: rgb(134, 134, 134);
  box-shadow: 0px 5px 20px rgb(74, 74, 74);
  color: white;
  padding: 10px;
  margin: 5px;
  border-radius: 0px 25px;
}
