@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Bebas+Neue&family=Roboto+Slab:wght@200&display=swap");
* {
  box-sizing: border-box;
}

.header {
  padding: 25px;
  text-align: center;
  box-sizing: content-box;
}

.special-header {
  font-family: "Bebas Neue";
  font-size: 600%;
  font-weight: lighter;
  color: white;
  text-align: center;
  padding-bottom: 40px;
  box-sizing: content-box;
  height: 0;
}

.button {
  background-color: rgb(134, 134, 134);
  color: white;
  padding: 15px;
  margin: 5px;
  border-radius: 15px;
}

body {
  background-color: rgb(86, 107, 88);
  margin: 25px 25px 25px 25px;
  padding: 25px 25px 25px 25px;
  font-family: "Roboto Slab";
  font-weight: bolder;
  color: white;
}

section {
  background-color: rgb(118, 148, 112);
  stroke-width: 0;
  height: auto;
  width: auto;
  border-radius: 0px 50px;
  text-align: center;
}

address {
  background-color: rgb(175, 218, 167);
  display: flex;
  flex-direction: column;
}
